@charset "utf-8";

/* --- Variables --- */
$primary_colour: #225ca8;
$secondary_colour: white;
$sidebar_colour: #1B1B1B;
$border_colour: black;
$popup_colour: rgb(87, 97, 187);

@mixin setDisplay($display, $flex-direction, $justify-content, $align-items){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer, main, article, section {
    display: block;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: $secondary_colour;
    min-height: 100vh;
}

header {
    background-color: $primary_colour;
    color: $secondary_colour;
    padding: 15px;

    h1 {
        margin: 0;
        line-height: 1;
    }
}

main {
    padding: 0px;
}

footer {
    padding: 20px;
    border-top: 1px solid $border_colour;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
        line-height: 1;
        margin: 0;
    }
}

#title {
    font-weight: bold;
    font-size: 50px;
    padding: 20px 0;
    margin: 20px 0;
    /*border-bottom: solid $border_colour;*/
    border-width: 2px;
    @include setDisplay(flex, row, center, initial);
}

/* --- Grid --- */
.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
        "score1 opponent you score2"
        "newGame" "rollDice"
}

#score1 {
    grid-area: "score1";
    padding-right: 20px;
    border-width: 2px;
    padding-bottom: 50px;
    border-right: solid $border_colour;
    @include setDisplay(flex, column, space-around, flex-end);
}

#score2 {
    grid-area: "score2";
    padding-left: 20px;
    border-left: solid $border_colour;
    border-width: 2px;
    padding-bottom: 50px;
    @include setDisplay(flex, column, space-around, initial);
}

#opponent {
    grid-area: "opponent";
    font-weight: bold;
    font-size: 30px;
    @include setDisplay(flex, column, center, center);

    img {
        transform: scaleX(-1);
    }
}

#you {
    grid-area: "you";
    font-weight: bold;
    font-size: 30px;
    @include setDisplay(flex, column, center, center);
}

.scoreboard {
    font-size: 30px;
    font-weight: bold;

    div {
        font-size: 50px;
        padding: 0 25px;
    }

    p {
        margin-bottom: 0;
    }
}

.stickman {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.divider {
    display: inline-block;
    width: 10px;
    height: auto;
}

.diceplacement {
    display: flex;
    justify-content: center;
    background-color: $secondary_colour;
    margin-bottom: 5px;

    img:first-child {
        margin-right: 5px;
    }
}

.buttons button {
    background-color: $secondary_colour;
    height: 50px;
    width: 125px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* --- Side Bar --- */
#side-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100vh - 60px); 
    background-color: $sidebar_colour;
    color: $secondary_colour;
    z-index: 1000;
    /*visibility: hidden;*/
    transition: 0.5s ease-in-out;

    h2 {
        padding: 30px 0 0 35px;
        margin: 0;
    }

    ul {
        margin: 0 30px 0 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;

        li {
            margin-left: 25px;
            padding: 15px 0 0 0;
            line-height: 1.3;
        }
        
        :first-child {
            padding-top: 5px;
        }
    }
}

#hamburger {
    background-color: transparent;
    border: 0;
    color: $secondary_colour;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 25px;
    height: 60px;

    :focus {
        outline: none;
    }
}

/* --- Pop Up --- */
#popup{
    width: 350px;
    height: 120px;
    padding: 10px;
    background-color: $popup_colour;
    color: $secondary_colour;
    border: solid 1px $border_colour;
    box-shadow: 0px 0px 5px $primary_colour, 5px 5px 5px $border_colour;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    font-size: 25px;
}

#btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
    border: solid 1.5px $border_colour;
    cursor: pointer;
}



/* --- Window Resize --- */
@media screen and (max-width: 1350px){
    .scoreboard {
        font-size: 20px;
        font-weight: bold;

        div {
            font-size: 20px;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    #you {
        font-size: 20px;
    }

    #opponent {
        font-size: 20px;
    }

    .diceplacement img {
        width: 25%;
    }

    #score1 {
        align-items: initial;
    }
}