@charset "utf-8";

#hamburger {
    background-color: transparent;
    border: 0;
    color: #fdfdfd;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 25px;
    height: 60px;
}

#hamburger:focus {
    outline: none;
}

#side-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100vh - 60px); 
    background-color: #1B1B1B;
    color: white;
    z-index: 1000;
    /*visibility: hidden;*/
    transition: 0.5s ease-in-out;
}

#side-bar ul {
    margin-left: 0px;
    margin-right: 30px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

ul li {
    margin-left: 25px;
    padding: 10px 0 0 0;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer, main, article, section {
    display: block;
}

p {
    line-height: 1.6;
    font-size: 1.15em;
}

code {
    background-color: #eeeeee;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
}

header {
    background-color: #225ca8;
    color: white;
    padding: 15px;

}

header h1 {
    margin: 0;
    line-height: 1;
}

main {
    padding: 0px;
}

footer {
    padding: 20px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    line-height: 1;
    margin: 0;
}

/* --- Grid --- */
.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
        "score1 opponent you score2"
        "newGame" "rollDice"

}

#score1 {
    grid-area: "score1";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 20px;
    border-right: solid black;
    border-width: 2px;
    padding-bottom: 50px;
}

#score2 {
    grid-area: "score2";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    border-left: solid black;
    border-width: 2px;
    padding-bottom: 50px;
}

#opponent {
    grid-area: "opponent";
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#opponent img {
    transform: scaleX(-1);
}

#you {
    grid-area: "you";
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.scoreboard {
    font-size: 30px;
    font-weight: bold;
}

.scoreboard div {
    font-size: 50px;
    padding: 0 25px;
}

.scoreboard p {
    margin-bottom: 0;
}

.stickman {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.divider {
    display: inline-block;
    width: 10px;
    height: auto;
}

.diceplacement {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 5px;
}

.diceplacement img:first-child {
    margin-right: 5px;
}

#title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    padding: 20px 0;
    margin: 20px 0;
    /*border-bottom: solid rgb(183, 0, 255);*/
    border-width: 2px;
}

#popup{
    width: 350px;
    height: 120px;
    padding: 10px;
    background-color: rgb(87, 97, 187);
    color: white;
    border: solid 1px black;
    box-shadow: 0px 0px 5px #225ca8, 5px 5px 5px black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    font-size: 25px;
}
#btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
    border: solid 1.5px black;
    cursor: pointer;
}

.buttons button {
    background-color: white;
    height: 50px;
    width: 125px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

/*----------------------------------
             Window Resize
-----------------------------------*/

@media screen and (max-width: 1350px){
    .scoreboard {
        font-size: 20px;
        font-weight: bold;
    }
    
    .scoreboard div {
        font-size: 20px;
        text-align: center;
    }

    .scoreboard p {
        text-align: center;
    }

    #you {
        font-size: 20px;
    }

    #opponent {
        font-size: 20px;
    }

    .diceplacement img {
        width: 25%;
    }

    #score1 {
        align-items: initial;
    }
}